body {
    margin: 0;
    padding: 0;
  }
/* רקע עליון */
.hero-section {
    position: relative;
    height: 750px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero-background {
    background-image: url('./site1.png'); /* החלף בשם התמונה שלך */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    filter: brightness(60%);
    z-index: 1;
  }
  
  .hero-text {
    position: relative;
    z-index: 2;
    color: white;
    margin-right: 250px;
  }
  
  .hero-text h1 {
    font-size: 50px;
    margin-bottom: 0px;

  }
  
  .quote-author {
    font-size: 50px;
    color: white;
    margin-bottom: 350px;
    margin-left: 350px;
    margin-top: 10px;
    font-weight: 600;
  }
  
  /* מקטע עיצוב אנושי */
  .hd-explanation {
    background: linear-gradient(to bottom, #0f1f30, #2f3e4c, #d8d8d8);
    padding-top: 40px;
    text-align: start;
    background-image: url(./2.png);
    background-size: cover;
    background-position: center;
    height: auto;
    
  }
  
  .hd-explanation .content {
    margin: 0 auto;
    color: #fff;
    font-weight: 800;
  }
  
  .hd-explanation h2 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .hd-explanation p {
    font-size: 16px;
    color: #e0e0e0;
    margin-bottom: 0px;
  }
  .service-card {
    background-color: #a7a49e; /* אפור חיצוני */
    padding: 40px 0;
  }
  .card_background{
        background-color: #011629;
        padding: 30px 40px;
        border-radius: 12px;
        width: 90%;         /* הקטנה מ-90% ל-80% */
        max-width: 800px;   /* תקרה עליונה לרוחב */
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0,0,0,0.4);
  }

  .my_card_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my_card_1 > img {
    width: 95%;
    height: 450px;
    margin-top: 60px;
  }
  .my_card_1 > h2{
    color: white;
    font-size: 55px;
  }
  .my_card_1 > p{
    margin-top: 0px;
    color: white;
    font-size: 45px;
  }
  .card-button {
    background-color: #f0e7dc;
    color: #000;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    transition: background-color 0.3s ease;
    margin-left: 550px;
  }
  
  .card-button:hover {
    background-color: #e0d6c8;
  }
  .about-liora {
    background-image: url('./Rectangle\ 5.png'); /* קובץ הרקע שלך */
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    text-align: center;
    direction: rtl;
  }
  
  .about-content {
    max-width: 100%;
    margin: 0 auto;
    color: black;
    font-size: 30px;
    text-align: start;
  }
  
  .liora-photo {
    width: 550px;
    height: 500px;
    margin-bottom: 30px;
    margin-right: 200px;
  }
  
  .about-button {
    display: block;
    width: 150px;
    margin-top: 30px;
    margin-right: 0; /* אפשר להוסיף מרווח מימין אם צריך */
    background-color: transparent;  /* -שקוף */
    color: #0d1b2a; /* כחול כהה */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 60px;
    padding-left: 60px;
    border: 2px solid #0d1b2a; /* מסגרת */
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 50px;
    transition: all 0.3s ease;
    
  }
  
  .about-button:hover {
    background-color: #0d1b2a;
    color: white;
  }
  .bold_big_span{
    margin-right: 250px;
    color: black;
    font-size: 66px;
    font-weight: 800;
    
  }
  .our_articals{
    background-color: #011629;
    height: auto;
  }
  .img_artical_flex_1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img_artical_flex_1 > img {
    margin-top: 50px;
    width: 850px;
    height: 750px;
  }
  .artial_text_1{
    position: absolute;
    left: 250px;
    top: 7500px;
    right: 120px;
    width: 700px;
    background-color: rgba(238, 234, 225, 0.8);
    padding: 20px;
    border-radius: 12px;
  }
  .artial_text_1 > h2{
    color: black;
    font-size: 55px;
    font-weight: 800;
  }
  .artial_text_1 > p{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 35px;
    font-weight: bold;
  }
  .continue_button{
    color: black;
    font-size: 35px;
    font-weight: 700;
  }
  .img_artical_flex_2{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img_artical_flex_2 >img{
    margin-top: 750px;
    width: 850px;
    height: 750px;
  }
  .artial_text_2{
    position: absolute;
    left: 250px;
    top: 9050px;
    right: 120px;
    width: 700px;
    background-color: rgba(238, 234, 225, 0.8);
    padding: 20px;
    border-radius: 12px;
  }
  .artial_text_2 >h2{
    color: black;
    font-size: 55px;
    font-weight: 800;
  }
  .artial_text_2 >p{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-size: 35px;
    font-weight: bold;
  }
  .card-button_2{
    background-color: #f0e7dc;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 45px;
    transition: background-color 0.3s ease;
   
  }